pkgbase = blip-eraser
	pkgdesc = Desinstalador de apps y limpiador del sistema para Arch Linux (PyQt6)
	pkgver = 1.0.6
	pkgrel = 1
	url = https://github.com/DinoPathTeam/BlipEraser
	install = blip-eraser.install
	arch = x86_64
	license = MIT
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-setuptools
	makedepends = python-wheel
	depends = python
	depends = python-pyqt6
	depends = python-gobject
	depends = polkit
	depends = systemd
	optdepends = gst-libav: video de intro del splash (H.264)
	optdepends = apparmor: confinamiento del daemon privilegiado
	source = blip-eraser-1.0.6.tar.gz::https://github.com/DinoPathTeam/BlipEraser/releases/download/v1.0.6/BlipEraser-1.0.6.tar.gz
	sha256sums = 15efe215a1ed3f00c448e7b0c4112e4a8a24534939e85d999d1eb59b980daeba

pkgname = blip-eraser
